.kidstation-page {
	.section_3 {
		background-color: white;
		color: black;
		padding: 20px 10px;

		@media screen and (min-width: 640px) {
			padding-left: 0;
			padding-right: 0;
		}

		@media screen and (min-width: 768px) {
			padding-bottom: 30px;
		}
		@media screen and (min-width: 1024px) {
			padding: 0;
		}
		@media screen and (min-width: 1280px) {
			padding-bottom: 77px;
		}
		@media screen and (min-width: 1920px) {
			padding-top: 86px;
			padding-bottom: 60px;
			.container {
				max-width: 1920px;
			}
		}

		@media screen and (min-width: 3072px) {
			padding-top: 0;
			.container {
				max-width: 3072px;
			}
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			row-gap: 20px;
			@media screen and (min-width: 640px) {
				row-gap: 30px;
			}
			@media screen and (min-width: 1024px) {
				flex-direction: row;
				column-gap: 30px;
			}
			@media screen and (min-width: 1920px) {
				column-gap: 60px;
			}

			@media screen and (min-width: 3072px) {
				column-gap: 120px;
			}
		}

		&__title {
			font-family: "Nunito", sans-serif;
			font-size: 28px;
			font-weight: 900;
			color: white;
			-webkit-text-stroke: 6px #ff524a;
			paint-order: stroke fill;
			text-align: center;
			@media screen and (min-width: 640px) {
				font-size: 32px;
			}
			@media screen and (min-width: 768px) {
				font-size: 40px;
			}
			@media screen and (min-width: 1024px) {
				position: relative;
				max-width: max-content;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					right: calc(-139px - 30px);
					transform: translateY(-50%);
					width: 139px;
					height: 19px;
					background-image: url("/section_3/arrow.svg");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
			@media screen and (min-width: 1280px) {
				font-size: 48px;
				&::before {
					width: 212px;
					height: 23px;
					right: calc(-212px - 30px);
				}
			}
			@media screen and (min-width: 1920px) {
				font-size: 96px;
				-webkit-text-stroke: 10px #ff524a;
				&::before {
					width: 289px;
					height: 31px;
					right: calc(-289px - 21px);
				}
			}

			@media screen and (min-width: 3072px) {
				&::before {
					right: calc(-289px - 71px);
				}
			}
		}
		&__image {
			width: 300px;
			height: 284px;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			@media screen and (min-width: 640px) {
				width: 600px;
				margin-top: 30px;
			}
			@media screen and (min-width: 768px) {
				width: 728px;
			}
			@media screen and (min-width: 1024px) {
				width: 442px;
				height: 354px;
				margin-top: 38px;
			}
			@media screen and (min-width: 1280px) {
				margin-top: 30px;
				width: 570px;
				height: 434px;
			}
			@media screen and (min-width: 1920px) {
				margin-top: 40px;
				width: 938px;
				height: 527px;
			}
			@media screen and (min-width: 3072px) {
				margin-top: 40px;
				width: 1454px;
				height: 527px;
			}
		}
		&__text {
			font-size: 14px;
			display: grid;
			row-gap: 20px;
			span {
				font-size: 16px;
				font-weight: 800;
				color: #ff524a;
			}
			@media screen and (min-width: 640px) {
				font-size: 16px;
				span {
					font-size: 18px;
				}
			}
			@media screen and (min-width: 768px) {
				font-size: 18px;
				span {
					font-size: 20px;
				}
			}
			@media screen and (min-width: 1280px) {
				row-gap: 40px;
				font-size: 20px;
				span {
					font-size: 24px;
				}
			}
			@media screen and (min-width: 1920px) {
				font-size: 28px;
				padding-left: 19px;
				span {
					font-size: 32px;
				}
			}
			@media screen and (min-width: 3072px) {
				font-size: 32px;
				padding-left: 0;
				span {
					font-size: 36px;
				}
			}
		}
		&__descr {
			margin-top: 20px;
			width: 300px;
			height: 100px;
			background-image: url("/backgrounds/section-3-320.png");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			color: white;
			padding: 25px 10px 11px 14px;
			margin-left: auto;
			margin-right: auto;

			filter: drop-shadow(0px 4px 10px rgba(178, 46, 40, 0.5));
			span {
				font-weight: 800;
			}

			@media screen and (min-width: 640px) {
				width: 600px;
				background-image: url("/backgrounds/section-3-640.png");
				font-size: 18px;
				padding: 31px 18px 15px 13px;
			}
			@media screen and (min-width: 768px) {
				width: 728px;
				background-image: url("/backgrounds/section-3-768.png");
				padding: 35px 22px 25px 16px;
				font-size: 20px;
			}
			@media screen and (min-width: 1024px) {
				width: 474px;
				height: 128px;
				background-image: url("/backgrounds/section-3-1024.png");
				padding: 35px 43px 33px 11px;
				font-size: 20px;
			}
			@media screen and (min-width: 1280px) {
				width: 600px;
				height: 142px;
				background-image: url("/backgrounds/section-3-1280.png");
				font-size: 24px;
				padding: 35px 14px;
			}
			@media screen and (min-width: 1920px) {
				width: 761px;
				height: 159px;
				background-image: url("/backgrounds/section-3-1920.png");
				font-size: 32px;
				padding: 42px 18px 21px;
			}
			@media screen and (min-width: 3072px) {
				width: 1319px;
				height: 159px;
				background-image: url("/backgrounds/section-3-3072.png");
				font-size: 36px;
				padding: 55px 31px 32px;
			}
		}
	}
}
