@use "../mixins.scss";

.kidstation-page {
	.section_7 {
		height: 300px;
		background-image: linear-gradient(
			225deg,
			#c338b7 0 22%,
			#df1581 40%,
			#f50159 65%,
			#fe3a44 82%,
			#ff493c 99%,
			#fe5335 100%
		);

		padding-top: 100px;
		position: relative;

		.wave {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 30px;
			width: 100%;
			@media screen and (min-width: 768px) {
				height: 46px;
			}
			@media screen and (min-width: 1280px) {
				height: 62px;
			}
			@media screen and (min-width: 1921px) and (max-width: 3072px) {
				@include mixins.adaptiveSize1920to3072(height, 62, 94);
			}
			@media screen and (min-width: 3073px) {
				height: auto;
			}
		}

		&__title {
			font-family: "Nunito", sans-serif;
			font-size: 28px;
			text-transform: uppercase;
			@media screen and (min-width: 640px) {
				font-size: 32px;
			}
			@media screen and (min-width: 768px) {
				font-size: 40px;
			}
			@media screen and (min-width: 1280px) {
				font-size: 48px;
			}
			@media screen and (min-width: 1920px) {
				font-size: 96px;
			}
			span {
				display: block;
				width: max-content;
				margin-left: auto;
				margin-right: auto;

				&.gradient-text {
					& > span {
						font-family: "Mont", sans-serif;
						font-weight: 800;
						background-image: linear-gradient(
							253deg,
							#c338b7 0 22%,
							#df1581 40%,
							#f50159 65%,
							#fe3a44 82%,
							#ff493c 99%,
							#fe5335 100%
						);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}

					margin-top: 5px;
					position: relative;
					transform: rotate(-2.48deg);
					width: 300px;
					height: 44px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-radius: 70px;
					background-color: white;
					filter: drop-shadow(0px 4px 10px rgba(178, 46, 40, 0.5));
					@media screen and (min-width: 640px) {
						width: 340px;
						height: 48px;
						font-size: 28px;
					}
					@media screen and (min-width: 768px) {
						width: 380px;
						height: 72px;
						font-size: 32px;
					}
					@media screen and (min-width: 1920px) {
						font-size: 40px;
						width: 460px;
						height: 80px;
						margin-top: -10px;
					}
				}
			}
		}
	}
}
