<section class="section_2">
	<div class="wave">
		<img src="/partials/wave-top.svg" alt="Преимущества kidstation" />
	</div>
	<div class="section_2__content">
		<div class="section_2__content-wrapper">
			<ul class="section_2__content-items">
				<li class="section_2__content-item item">
					<div class="item__img">
						<img src="/section_2/pizza.png" alt="Жанр" />
					</div>
					<div class="item__descr">
						<h3>Жанр:</h3>
						<p>детские развивающие</p>
					</div>
				</li>
				<li class="section_2__content-item item">
					<div class="item__img">
						<img src="/section_2/star.png" alt="Время" />
					</div>
					<div class="item__descr">
						<h3>Время:</h3>
						<p>60 минут</p>
					</div>
				</li>
				<li class="section_2__content-item item">
					<div class="item__img">
						<img src="/section_2/planet.png" alt="Игроки" />
					</div>
					<div class="item__descr">
						<h3>Игроки:</h3>
						<p>до 16 одновременно</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
