<section class="section_8">
	<div class="wave">
		<img src="/partials/wave-top.svg" alt="WARSTATION ФРАНШИЗА УСПЕХА" />
	</div>
	<h2 class="section_8__title">
		<span>WARSTATION</span>
		<span class="gradient-text">
			<span>ФРАНШИЗА УСПЕХА </span>
		</span>
	</h2>
	<div class="container">
		<div class="section_8__content-top content-top">
			<div class="content-top__image">
				<img
					src="/section_8/image.png"
					alt="WARSTATION ФРАНШИЗА УСПЕХА"
				/>
			</div>
			<div class="content-top__items">
				<h3>За <span>2 года</span> работы к нам присоединились</h3>
				<div class="content-top__numbers numbers">
					<div class="numbers__item">
						<span>9</span>
						<p>стран</p>
					</div>
					<div class="numbers__item">
						<span>150+</span>
						<p>франчайзи</p>
					</div>
					<div class="numbers__item">
						<span>1 000 000+ </span>
						<p>игроков</p>
					</div>
				</div>
			</div>
		</div>
		<div class="section_8__content-bottom content-bottom">
			<div class="content-bottom__item item">
				<p class="item__subtitle">запуск</p>
				<p class="item__title">за 45 дней</p>
			</div>
			<div class="content-bottom__item item">
				<p class="item__subtitle">окупаемость</p>
				<p class="item__title">от 2 месяцев</p>
			</div>
			<div class="content-bottom__item item">
				<p class="item__subtitle">доход</p>
				<p class="item__title">от 500 000 ₽</p>
			</div>
		</div>
		<div class="section_8__button">
			<button class="button-yellow">присоединиться</button>
		</div>
	</div>
</section>
