<section class="section_1">
	<div class="container">
		<div class="section_1__header">
			<p class="section_1__subtitle">ДОБРО ПОЖАЛОВАТь в</p>
			<div class="section_1__title">
				<h1>KIdSTATION!</h1>
			</div>
		</div>

		<div class="section_1__content">
			<div class="section_1__video">
				<div class="section_1__video-image">
					<img src="/section_1/video.png" alt="KIdSTATION" />
					<button class="play-button">
						<span>
							<svg
								width="100%"
								height="100%"
								viewBox="0 0 207 207"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<mask
									id="mask0_4185_4088"
									style="mask-type: luminance"
									maskUnits="userSpaceOnUse"
									x="23"
									y="23"
									width="161"
									height="161"
								>
									<path
										d="M110.324 182.067C153.882 178.257 186.101 139.859 182.29 96.3021C178.479 52.7447 140.082 20.5257 96.5246 24.3365C52.9672 28.1473 20.7482 66.5444 24.559 110.102C28.3698 153.659 66.7669 185.878 110.324 182.067Z"
										fill="white"
										stroke="white"
										stroke-width="2"
										stroke-linejoin="round"
									/>
									<path
										d="M87.6518 104.582L85.2617 77.2627L110.116 88.8522L134.971 100.442L112.506 116.171L90.0419 131.901L87.6518 104.582Z"
										fill="black"
										stroke="black"
										stroke-width="2"
										stroke-linejoin="round"
									/>
								</mask>
								<g mask="url(#mask0_4185_4088)">
									<path
										d="M0.505859 16.8428L189.783 0.283182L206.342 189.56L17.0655 206.12L0.505859 16.8428Z"
										fill="white"
									/>
								</g>
							</svg>
						</span>
					</button>
				</div>
				<div class="section_1__video-content">
					<p class="section_1__video-text">
						Игровое приключение для самых маленьких 
					</p>
					<button class="section_1__video-button">
						смотреть трейлер
					</button>
				</div>
			</div>

			<div class="section_1__image">
				<img src="/section_1/boy.png" alt="KIdSTATION" />
			</div>
		</div>

		<div class="section_1__footer">
			<button class="section_1__footer-button button-yellow">
				стать партнёром
			</button>
		</div>
	</div>
</section>
