<section class="section_4">
	<div class="wave">
		<img src="/section_4/wave.svg" alt="МИНИ-ИГРЫ — МЕГА-УЛЫБКИ" />
	</div>
	<h2 class="section_4__title"><span>МИНИ-ИГРЫ</span> — МЕГА-УЛЫБКИ</h2>
	<div class="section_4__content">
		<div class="section_4__slider slider">
			<div class="slider__swiper swiper">
				<div class="swiper-wrapper">
					<load
						="src/partials/components/section_4/slide.html"
						title="КОРМИ ТАНУКИ"
						text="Отыщите на карте нужное лакомство и накормите голодных тануки. Будьте внимательны — угодить зверятам не так просто! Обязательно смотрите на иконку над головой тануки, чтобы узнать, чего ему хочется именно сейчас. Только так зверёк будет сыт, а вы заработаете заветные очки.  "
						age="5+"
						linkImg="/section_4/image-3-320.png"
					/>
					<load
						="src/partials/components/section_4/slide.html"
						title="ПОИСК ЯИЦ ТАНУКИ"
						text="В волшебном лесу спрятаны яйца тануки, которые приносят удачу! Соберите как можно больше яиц до того, как это сделают ваши соперники. Только самый внимательный станет главным кладоискателем!"
						age="5+"
						linkImg="/section_4/image-1-320.png"
					/>
					<load
						="src/partials/components/section_4/slide.html"
						title="НОРЫ-МОЛОТКИ"
						text="В этой игре вам предстоит ловко загонять суетливых зверьков обратно в норы с помощью гигантских молотов! Но каждый раз они появляются в новых местах, так что действуйте быстро, чтобы набрать максимальное количество очков и оставить соперников позади!"
						age="5+"
						linkImg="/section_4/image-2-320.png"
					/>
					<load
						="src/partials/components/section_4/slide.html"
						title="ЛОВЛЯ ПРИВИДЕНИЙ"
						text="Получится ли у вас стать настоящим охотником за нечистью? Ловите привидений с помощью профессиональных приборов, а затем соберите эктоплазму, которую они оставили после себя. Чем её больше, тем выше шанс победить! "
						age="5+"
						linkImg="/section_4/image-4-320.png"
					/>
					<load
						="src/partials/components/section_4/slide.html"
						title="КРАБОВАЯ ВЕЧЕРИНКА "
						text="Нашествие крабов мешает туристам наслаждаться отдыхом. Вам предстоит это исправить! Задержите членистоногих нарушителей порядка, прежде чем они зароются в песок. И кстати, вы же сможете отличить краба от камня? Проверим на арене!"
						age="5+"
						linkImg="/section_4/image-5-320.png"
					/>
					<load
						="src/partials/components/section_4/slide.html"
						title="ЗАЩИТА СНЕЖНОЙ КРЕПОСТИ "
						text="Устройте настоящий снежный дестрой! Стройте крепость из ледяных кубиков и отстреливайтесь от соперников мегаболлом – огромным снежком. Победит та команда, которая наносит самые быстрые и точные удары. "
						age="5+"
						linkImg="/section_4/image-6-320.png"
					/>
					<load
						="src/partials/components/section_4/slide.html"
						title="ПАЛИТРА "
						text="Испытание для самых творческих. Смешивайте цвета в колбе, чтобы получить нужный оттенок. Но будьте внимательны – если ошибётесь, придётся начать заново. Справитесь ли вы с задачей быстрее всех?"
						age="5+"
						linkImg="/section_4/image-7-320.png"
					/>
				</div>
			</div>
			<div class="slider__navigation">
				<button class="button-prev">
					<span>
						<svg
							width="100%"
							height="100%"
							viewBox="0 0 62 59"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M57.6748 33.4492C59.8839 33.4492 61.6748 31.6584 61.6748 29.4492C61.6748 27.2401 59.8839 25.4492 57.6748 25.4492L57.6748 33.4492ZM1.84637 26.6208C0.284276 28.1829 0.284277 30.7156 1.84637 32.2777L27.3022 57.7335C28.8643 59.2956 31.397 59.2956 32.9591 57.7335C34.5212 56.1714 34.5212 53.6387 32.9591 52.0766L10.3317 29.4492L32.9591 6.8218C34.5212 5.25971 34.5212 2.72705 32.9591 1.16495C31.397 -0.397147 28.8643 -0.397147 27.3022 1.16495L1.84637 26.6208ZM57.6748 25.4492L4.6748 25.4492L4.6748 33.4492L57.6748 33.4492L57.6748 25.4492Z"
								fill="#FF524A"
							/>
						</svg>
					</span>
				</button>
				<div class="slider__pagitation pagination"></div>
				<button class="button-next">
					<span>
						<svg
							width="100%"
							height="100%"
							viewBox="0 0 62 59"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M4.67481 25.4492C2.46567 25.4492 0.674805 27.2401 0.674805 29.4492C0.674804 31.6584 2.46567 33.4492 4.6748 33.4492L4.67481 25.4492ZM60.5032 32.2777C62.0653 30.7156 62.0653 28.1829 60.5032 26.6208L35.0474 1.16495C33.4853 -0.397147 30.9526 -0.397147 29.3905 1.16495C27.8284 2.72705 27.8284 5.25971 29.3905 6.8218L52.0179 29.4492L29.3905 52.0766C27.8284 53.6387 27.8284 56.1714 29.3905 57.7335C30.9526 59.2956 33.4853 59.2956 35.0474 57.7335L60.5032 32.2777ZM4.6748 33.4492L57.6748 33.4492L57.6748 25.4492L4.67481 25.4492L4.6748 33.4492Z"
								fill="#FF524A"
							/>
						</svg>
					</span>
				</button>
			</div>
		</div>
	</div>
</section>
