<section class="section_5">
	<div class="wave">
		<img src="/partials/wave-top.svg" alt="ИДЕАЛЬНЫЙ ВЫБОР" />
	</div>
	<div class="container">
		<h2 class="section_5__title">
			<span>ИДЕАЛЬНЫЙ ВЫБОР</span>
			<span class="gradient-text"><span>ДЛЯ ВАШЕЙ АРЕНЫ </span></span>
		</h2>

		<div class="section_5__wrapper-content">
			<load
				="src/partials/components/section_5/item.html"
				title="ДЕТСКАЯ АУДИТОРИЯ"
				description="Почти половину аудитории VR-арен составляют дети. Чтобы привлечь ещё больше юных игроков, мы создали сборник специально для них. Его механики рассчитаны на деток от пяти лет, а игровые сценарии подобраны специально с учетом интересов этого возраста."
				linkImg="/section_5/image-1-320.png"
				linkImg640="/section_5/image-1-640.png"
				linkImg768="/section_5/image-1-768.png"
				linkImg1024="/section_5/image-1-1024.png"
				linkImg1920="/section_5/image-1-1920.png"
				linkImg3072="/section_5/image-1-3072.png"
			/>
			<load
				="src/partials/components/section_5/item.html"
				title="НЕПОДДЕЛЬНОЕ ВЕСЕЛЬЕ"
				description="В KIDSTATION мы воплотили в виртуальную реальность детские мечты! Будем кормить фантазийных существ, станем хранителями волшебного леса, отправимся на поиски сокровищ и многое чего ещё. Такое предлагаем только мы."
				linkImg="/section_5/image-2-320.png"
				linkImg640="/section_5/image-2-640.png"
				linkImg768="/section_5/image-2-768.png"
				linkImg1024="/section_5/image-2-1024.png"
				linkImg1920="/section_5/image-2-1920.png"
				linkImg3072="/section_5/image-2-3072.png"
			/>
			<load
				="src/partials/components/section_5/item.html"
				title="РАЗВИВАЮЩИЙ ПОТЕНЦИАЛ"
				description="Наши мини-игры развивают моторику, координацию и логику. А ещё расширяют границы воображения и формируют творческую личность. Скажите это родителям, и они тут же приведут ребёнка на арену. "
				linkImg="/section_5/image-3-320.png"
				linkImg640="/section_5/image-3-640.png"
				linkImg768="/section_5/image-3-768.png"
				linkImg1024="/section_5/image-3-1024.png"
				linkImg1920="/section_5/image-3-1920.png"
				linkImg3072="/section_5/image-3-3072.png"
			/>
			<load
				="src/partials/components/section_5/item.html"
				title="АВТОМАТИЧЕСКАЯ ГЕНЕРАЦИЯ"
				description="Чтобы игра не наскучила никогда, мы используем автоматическую генерацию локаций. Дети будут исследовать миры с новыми увлекательными приключениями, а значит, каждая игровая сессия станет по-настоящему неповторимой!"
				linkImg="/section_5/image-4-320.png"
				linkImg640="/section_5/image-4-640.png"
				linkImg768="/section_5/image-4-768.png"
				linkImg1024="/section_5/image-4-1024.png"
				linkImg1920="/section_5/image-4-1920.png"
				linkImg3072="/section_5/image-4-3072.png"
			/>
			<load
				="src/partials/components/section_5/item.html"
				title="ПРОДУМАННЫЙ ГЕЙМПЛЕЙ"
				description="Мы предлагаем не просто развлечения, а эмоционально вовлекающие игры с идеальным балансом между быстрыми и медленными уровнями. Так сохраняем интерес на протяжении всей игры и обеспечиваем повторное посещение арены."
				linkImg="/section_5/image-5-320.png"
				linkImg640="/section_5/image-5-640.png"
				linkImg768="/section_5/image-5-768.png"
				linkImg1024="/section_5/image-5-1024.png"
				linkImg1920="/section_5/image-5-1920.png"
				linkImg3072="/section_5/image-5-3072.png"
			/>
		</div>
	</div>
</section>
