<section class="section_3">
	<div class="container">
		<div class="section_3__wrapper">
			<div>
				<h2 class="section_3__title">концепция</h2>
				<div class="section_3__image">
					<picture>
						<source
							media="(min-width: 3072px)"
							srcset="/section_3/img-3072.png"
						/>
						<source
							media="(min-width: 1920px)"
							srcset="/section_3/img-1920.png"
						/>
						<source
							media="(min-width: 1280px)"
							srcset="/section_3/img-1280.png"
						/>
						<source
							media="(min-width: 1024px)"
							srcset="/section_3/img-1024.png"
						/>
						<source
							media="(min-width: 768px)"
							srcset="/section_3/img-768.png"
						/>
						<source
							media="(min-width: 640px)"
							srcset="/section_3/img-640.png"
						/>
						<img
							src="/section_3/img-320.png"
							alt="концепция kidstation"
						/>
					</picture>
				</div>
			</div>
			<div>
				<div class="section_3__text">
					<p>
						<span>KIDSTATION</span> — это уникальный сборник игр,
						разработанный специально для самых маленьких гостей.
					</p>
					<p>
						Мы понимаем, как важно предложить детям не только
						увлекательные, но и доступные по уровню сложности игры.
					</p>
					<p>
						Именно поэтому в KIDSTATION мы включили простые и
						интересные механики, которые идеально подойдут для
						малышей. <br />
						В сборнике — 6 захватывающих мини-игр, каждая из которых
						подарит деткам море радости и новых впечатлений!
					</p>
				</div>
				<div class="section_3__descr">
					<p>
						В сборнике — <span>6 захватывающих мини-игр</span>,
						каждая из которых подарит деткам море радости и новых
						впечатлений!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
