$primaryBlack: #040407;
$primaryYellow: #fdfc28;
$primaryRed: #ff0101;
$primaryViolet: #8128ff;
$primaryPink: #f70085;
$primaryGray: #b0b0ba;
$primaryDarkGray: #898b95;
$primaryLightGray: #d9d9d9;

@use "mixins.scss";
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	// overflow-x: hidden;

	background: $primaryBlack;

	font-family: "Mont", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 10px;

	color: white;
}

body.lock {
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	//cursor: none;
}

* a {
	text-decoration: none;
	color: inherit;
}

* button {
	background: transparent;
	border: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

h2 {
	font-size: 8.8rem;
	font-weight: 800;
	text-transform: uppercase;
	@media screen and (min-width: 1920px) {
		font-size: 11rem;
	}
}

h2.title-thin {
	font-size: 4.4rem;
	line-height: 48.4px;

	text-align: center;
	font-weight: 300;

	text-transform: uppercase;
	span {
		font-weight: 900;
		color: $primaryViolet;
	}

	@media screen and (min-width: 640px) {
		font-size: 8.2rem;
		line-height: 70px;
	}

	@media screen and (min-width: 768px) {
		font-size: 9.6rem;
		line-height: 80px;
	}

	@media screen and (min-width: 1024px) {
		font-size: 11rem;
		line-height: 100px;
	}

	@media screen and (min-width: 1280px) {
		font-size: 14rem;
		line-height: 130px;
	}

	@media screen and (min-width: 1920px) {
		line-height: 168px;
		font-size: 18rem;
	}

	@media screen and (min-width: 1921px) and (max-width: 3072px) {
		@include mixins.adaptiveSize1920to3072(font-size, 180, 288);
		@include mixins.adaptiveSize1920to3072(line-height, 168, 238);
	}

	@media screen and (min-width: 3072px) {
		font-size: 288px;
		line-height: 238px;
	}
}

.container {
	max-width: 320px;
	padding-left: 0;
	padding-right: 0;

	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 640px) {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 640px;
	}

	@media screen and (min-width: 768px) {
		max-width: 768px;
		padding-left: 20px;
		padding-right: 20px;
	}

	@media screen and (min-width: 1024px) {
		max-width: 1024px;
		padding-left: 40px;
		padding-right: 40px;
	}

	@media screen and (min-width: 1280px) {
		max-width: 1280px;
	}

	@media screen and (min-width: 1440px) {
		max-width: 1440px;
		padding-left: 60px;
		padding-right: 60px;
	}

	@media screen and (min-width: 1920px) {
		max-width: 1920px;
		padding-left: 80px;
		padding-right: 80px;
	}

	@media screen and (min-width: 1921px) and (max-width: 3072px) {
		@include mixins.adaptiveSize1920to3072(max-width, 1920, 3072);
		@include mixins.adaptiveSize1920to3072(padding-left, 80, 125);
		@include mixins.adaptiveSize1920to3072(padding-right, 80, 125);
	}

	@media screen and (min-width: 3072px) {
		max-width: 3072px;
		padding-left: 125px;
		padding-right: 125px;
	}
}

.swiper.rounded {
	height: 100%;

	.swiper-slide-prev {
		.slide {
			background-color: #282828;
			img {
				filter: grayscale(100%);
			}
		}
	}

	.swiper-slide-next {
		.slide {
			background-color: #282828;
			img {
				filter: grayscale(100%);
			}
		}
	}

	.swiper-slide-next + .swiper-slide {
		.slide {
			background-color: #282828;
			img {
				filter: grayscale(100%);
			}
		}
	}

	.swiper-slide:has(+ .swiper-slide-prev) {
		.slide {
			background-color: #282828;
			img {
				filter: grayscale(100%);
			}
		}
	}

	.swiper-pagination {
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 14px;
		z-index: 1;

		.swiper-pagination-bullet {
			width: 15px;
			height: 15px;
			border: 2px solid $primaryYellow;
			background-color: transparent;
			transition: all 0.3s ease;
			cursor: pointer;
		}

		.swiper-pagination-bullet-active {
			background-color: $primaryYellow;
		}
	}
}

.open-business {
	display: block;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 1000;
	padding-left: 10px;
	padding-right: 10px;

	button {
		height: 48px;
		font-size: 2rem;
		width: 100%;
		background-color: $primaryPink;
		color: white;
		font-family: "Bicubik", sans-serif;
	}

	@media screen and (min-width: 1024px) {
		display: none;
	}

	@media screen and (min-width: 640px) {
		bottom: 40px;
		button {
			height: 56px;
			font-size: 2.8rem;
		}
	}
}

.custom-cursor-slider {
	display: none;
	position: absolute;

	border-radius: 100%;
	background: white;

	justify-content: center;
	align-items: center;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 160px;
	width: 160px;

	visibility: hidden;

	pointer-events: none;

	.arrow-wrapper {
		height: 30px;
		width: 90px;
		color: #0c014c;
	}

	@media screen and (min-width: 1024px) {
		display: flex;
	}
	&.active {
		visibility: visible;
	}
}

.alert {
	position: fixed;
	z-index: 1050;
	right: 10px;
	left: 10px;
	top: 10px;
	padding-left: 20px;
	padding-right: 16px;
	gap: 40px;
	display: flex;
	background-color: white;
	box-shadow: 0px 4px 36.9px 0px #c6c9d6;
	border-radius: 6px;

	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s ease, opacity 0.3s ease;

	@media screen and (min-width: 768px) {
		right: 20px;
		left: 20px;
		top: 20px;
	}

	@media screen and (min-width: 1024px) {
		top: auto;
		bottom: 40px;
		right: auto;
		left: 40px;
	}

	@media screen and (min-width: 1920px) {
		bottom: 40px;
		left: 80px;
		padding-left: 32px;
	}

	@media screen and (min-width: 1921px) {
		bottom: 50px;
		left: 125px;
	}

	@media (max-width: 639px) {
	}

	&.show {
		visibility: visible;
		opacity: 1;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 20px;

		gap: 12px;

		@media screen and (min-width: 640px) {
			padding-top: 32px;
			padding-bottom: 32px;
		}
	}
	&__title {
		font-size: 1.6rem;
		line-height: 1.25;
		@media screen and (min-width: 640px) {
			font-size: 3.2rem;
		}
		@media screen and (min-width: 1024px) {
			font-size: 2.8rem;
		}

		@media screen and (min-width: 1920px) {
			font-size: 3.6rem;
		}
		@media screen and (min-width: 1921px) {
			font-size: 4.5rem;
		}
	}

	&__text {
		color: $primaryBlack;
		font-size: 1.2em;
		line-height: 1.4;

		@media screen and (min-width: 640px) {
			font-size: 1.4rem;
		}

		@media (min-width: 1921px) {
			font-size: 2.2rem;
		}
	}
	&__close {
		margin-bottom: auto;
		margin-top: 16px;

		@media screen and (min-width: 640px) {
			margin-top: 20px;
		}
	}
}
.alert-success {
	border: 1px solid #d9d9d9;

	&__title {
		color: $primaryViolet;
	}
}

.alert-error {
	border: 1px solid #ff0101;
	&__title {
		color: $primaryRed;
	}
}

.grecaptcha-badge {
	z-index: -1000;
	opacity: 0;
}
