@font-face {
	font-family: "Bicubik";
	src: url("/static/fonts/Bicubik.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-ExtraLight.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-Heavy.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Mont";
	src: url("/static/fonts/Mont/Mont-Thin.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Integral_CF";
	src: url("/static/fonts/Integral_CF/IntegralCF-Heavy.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "SpriteGraffiti";
	src: url("/static/fonts/SpriteGraffiti/SpriteGraffiti-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CodeNext-Trial";
	src: url("/static/fonts/CodeNext-Trial/CodeNext-Trial-Light.woff")
		format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "CodeNext-Trial";
	src: url("/static/fonts/CodeNext-Trial/CodeNext-Trial-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CodeNext-Trial";
	src: url("/static/fonts/CodeNext-Trial/CodeNext-Trial-Bold.woff")
		format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gangof";
	src: url("/static/fonts/gangof-three.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Aoudax";
	src: url("/static/fonts/aoudaxcyrillic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Galgo";
	src: url("/static/fonts/Galgo/galgo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nunito";
	src: url("/static/fonts/Nunito/Nunito-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
